.cardTabela{

    background:#fff;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.tituloTabela{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.tituloTabela h2{

    color:#2d4059;

    font-size:24px;

}

.tituloTabela button{

    background:#ff6b00;

    color:#fff;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

}

table{

    width:100%;

    border-collapse:collapse;

}

thead{

    background:#f5f7fb;

}

th{

    text-align:left;

    padding:15px;

    color:#2d4059;

}

td{

    padding:18px 15px;

    border-bottom:1px solid #ececec;

}

tbody tr:hover{

    background:#fafafa;

}

.status{

    padding:6px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}

.\36 0dias{

    background:#fff3cd;

    color:#946200;

}

.\34 5dias{

    background:#ffe0b2;

    color:#ef6c00;

}

.Crítico{

    background:#ffd6d6;

    color:#c62828;

}