.dashboard{

    width:100%;

    padding:35px;

    box-sizing:border-box;

}

.dashboardGrid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:25px;

    margin-top:30px;

    align-items:start;

}

@media(max-width:1300px){

    .dashboardGrid{

        grid-template-columns:1fr;

    }

}

@media(max-width:768px){

    .dashboard{

        padding:20px;

    }

}