.graficoVencimentos{

    background:#fff;

    padding:30px;

    border-radius:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    margin-top:30px;

}

.graficoVencimentos h2{

    margin-bottom:25px;

    color:#2d4059;

}